@import "tailwindcss";

/* --- CUSTOM COLORS --- */
:root {
  --color-primary: #2f2672;
  --color-primary-hover: #2a2170;
  --color-gold: #d0a73e;
  --color-blush: #e7dadc;
  /* 
  #ead1d4; 
  #fcdbd2
  */
  --color-background: #faf9f7;
}

html {
  scroll-behavior: smooth;

}

/* FONTOK */
body {
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
}